body{
    background-color: rgb(213, 221, 230);
}

input{
    padding: 10px;
    border-radius: 5%;
    margin: 0.2em;
    border-style: solid;
    border-color: rgb(174, 180, 174);
}

.button{
    cursor: pointer;
    background-color: rgb(111, 119, 126);
    color: aliceblue;
    border-color: rgb(100, 176, 206);
}